body {
    overflow: hidden;
    background-image: url('https://images.unsplash.com/photo-1487621167305-5d248087c724?dpr=1&auto=format&fit=crop&w=1199&h=674&q=80&cs=tinysrgb&crop=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 12px;
    text-transform: lowercase;
    color: white;
}

h3 {
    font-family: 'Fjalla One', sans-serif;
    margin: 60px 0 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: justify;
}

nav {
    z-index: 100;
}

.navbar {
    border: none;
    background-color: transparent;
}

#navbar-links > li > a {
    font-family: 'Fjalla One', sans-serif;
    text-transform: lowercase;
    color: white;
    margin-top: 20px;
}

#active {
    /*border-bottom: 1px solid black;*/
    background-color: transparent;
    text-shadow: 1px 1px 2px black;
}

.content-container {
    display: flex;
  }

.content-box {
    position: relative;
    min-height: 100%;
    /*padding-top: 200px;*/
    margin-top: -90px;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: white;
}

.text-container {
    margin: 60px 60px;
}

/*.flor {
    display: inline-block;
    height: 75px;
    /*padding: 0 15px;
} */

svg {
  height:80px;
}
.brand-fill {
  fill:white;
}
.flor:hover .brand-fill {
  fill:black;
}

.navbar-brand:hover .brand-fill{
  fill:black;
}

.pimg-border {
    display: block;
    max-width: 244px;
    margin: 0 auto 45px;
    border: 1px solid black;
}

.img-profile {
    display: block;
    max-height: 200px;
    margin: 20px auto 20px;
}

.img-portfolio {
    padding: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    padding-top: 25px;
    text-align: center;
}

.copyright {
    text-align: center;
}

#header {
    margin: 0 auto;
}

/*#header:hover {
    color: black;
}*/


#loading {
    margin: 120px 0 80px;
}

@media (max-width: 992px) {
    body {
        overflow: scroll/* !important*/;
        background-image: none;
    }
    
    .navbar-collapse{
      border: none;
    }

    .brand-fill {
        fill: #000;
    }

    #header {
        color: #000;
        padding-bottom: 65px;
    }

    #navbar-links > li > a {
        color: black;
    }

    #active {
        border-bottom: 1px solid black;
        background-color: transparent;
        text-shadow: none;
    }
}
