//FONTS
h1{
	font-family: 'Oswald', sans-serif;
}

p{
	font-family: 'Roboto', sans-serif;
}

#header{
	font-family: 'Miniver', sans-serif;
	font-size: 30px;
	padding-right: 5px;
}

#navbar-links > li > a{
	text-transform: lowercase;
	font-family: 'Oswald', sans-serif;
}
