@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
// Colors
$darkblue: #40414b;
$teal: #85d9bf;
$offwhite: #f5f4f7;
//Fonts
$source-sans: 'Source Sans Pro',
sans-serif;
$montserrat: 'Montserrat',
sans-serif;
$josefin: 'Josefin Slab',
sans-serif;
//GLOBAL STYLES*********************************************
.centeredShit {
    .container {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }
}

section {
    // margin-top: -50px;
    // padding-top: 50px;
    // padding-bottom: 50px;
    position: relative;
}

p {
    font-family: $source-sans;
}

h1 {
    font-family: $josefin;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

h3 {
    font-family: $source-sans;
    color: #acacac;
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
    padding-bottom: 30px;
}

h2 {
    font-family: $source-sans;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 5px;
    color: $teal;
    text-align: center;
}

h4 {
    font-family: $source-sans;
    font-size: 17px;
}

.bolded {
    font-weight: bold;
}

.accent {
    color: $teal;
}

//NAV BAR CONTENT**********************************************************
.navbar {
    font-family: $montserrat;
    text-transform: uppercase;
    background: $darkblue;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    border-bottom: 2px solid $teal;
}

.all-nav {
    #nav-border {
        border-bottom: 1px solid #5c5d66;
    }
    #navbar-links {
        float: right;
        margin-top: 15px;
    }
    #navbar-links li a {
        font-size: 10px;
        color: #acacac;
        padding: 0;
        margin: 0 5px;
        display: inline;
    }
    #header {
        color: white;
        font-size: 11px;
        margin-top: -5px;
    }
    #mug {
        color: $teal;
        font-size: 25px;
        padding-right: 5px;
        float: left;
    }
    .cb-style {
        top: 15px;
        position: absolute;
    }
}

//CONTENT IN DARK DIVS************************************************************
.dark {
    background: $darkblue;
}

.getstarted {
    padding: 50px 0 60px;
    text-align: center;
}

.blu-button {
    background: $teal;
    font-family: $josefin;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    padding: 7px 10px;
    border-radius: 1px;
    text-decoration: none;
    &:hover {
        background: white;
        color: $teal;
        transition: .5s ease;
        text-decoration: none;
    }
    &:visited,
    &:focus {
        text-decoration: none;
    }
}

.homestretch {
    padding: 50px 0 60px;
    text-align: center;
    h1 {
        font-size: 20px;
        padding: 0 10px;
        position: relative;
        display: inline-block;
        background: $darkblue;
    }
    h3 {
        font-size: 19px;
        color: #acacac;
        border-top: 1px solid #5c5d66;
        padding-top: 30px;
        margin-top: -25px;
    }
}

.footer {
    text-align: center;
    color: #acacac;
    font-size: 10px;
    padding-top: 15px;
    background: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

//CONTENT IN WHITE DIVS**********************************************
.ab-cont {
    padding: 30px 0;
    p,
    h4 {
        text-align: justify;
        padding: 5px 0;
    }
}

.test-cont {
    padding: 30px 0;
    img {
        max-height: 35px;
        max-width: 35px;
    }
    .name {
        font-weight: bold;
        font-size: 12px;
        margin: 0;
    }
    .job {
        font-size: 10px;
    }
    .name,
    .job {
        text-align: center;
    }
}

.tests {
    background: #fafafb;
    padding: 40px 40px 50px 65px;
    text-align: left;
    margin: 0 auto 50px;
    transition: all .2s ease;
    position: relative;
    &:before {
        content: '\f10d';
        font-family: 'fontawesome';
        color: $teal;
        position: absolute;
        margin-left: -35px;
        font-size: 20px;
    }
    &:after {
        content: '\f0d7';
        font-family: 'fontawesome';
        color: #fafafb;
        position: absolute;
        right: 50%;
        width: 20px;
        margin-right: -5px;
        top: 81%;
        font-size: 50px;
    }
}

.test-hover {
    opacity: .6;
    text-align: center;
}

.test-hover:hover {
    opacity: 1.0;
    .tests {
        background: $teal;
        color: #fff;
        &:after {
            content: '\f0d7';
            font-family: 'fontawesome';
            color: $teal;
            position: absolute;
            right: 50%;
            width: 20px;
            margin-right: -5px;
            top: 81%;
            font-size: 50px;
        }
        &:before {
            content: '\f10d';
            font-family: 'fontawesome';
            color: #fff;
            position: absolute;
            margin-left: -35px;
            font-size: 20px;
        }
    }
}

//CONTENT IN LIGHT DIVS**************************************************
.light {
    background: $offwhite;
}

.gal-cont {
    padding-top: 30px;
    .lil-gal img {
        padding-bottom: 30px;
    }
    .big-gal img {
        padding-bottom: 30px;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // height: 100%;
        // width: 100%;
        overflow: hidden;
        opacity: 0;
        transition: .5s ease;
        background-color: #fff;
    }
    .big-gal:hover .overlay {
        opacity: .6;
    }
    .text {
        color: black;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
}

.feat-cont {
    padding: 30px 0;
    h4 {
        text-align: center;
    }
    .fa {
        font-size: 40px;
        color: $teal;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    p {
        text-align: center;
        color: #acacac;
    }
    .feat-col {
        max-width: 300px;
        padding: 50px;
        transition: 1s ease;
    }
    .feat-col:hover {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        transition: 0.75s ease;
    }
    .feat-title {
        color: black;
    }
}

//MEDIA QUERIES YO**********************************************
@media screen and (max-width:992px) {
    .feat-cont {
        .feat-col {
            max-width: 100%;
        }
    }
    .gallery img {
        width: 100%;
    }
    .tests {
        background: #fafafb;
        padding: 40px 40px 50px 65px;
        text-align: left;
        margin: 0 auto 50px;
        transition: all .2s ease;
        position: relative;
        &:before {
            content: '\f10d';
            font-family: 'fontawesome';
            color: $teal;
            position: absolute;
            margin-left: -35px;
            font-size: 20px;
        }
        &:after {
            content: '\f0d7';
            font-family: 'fontawesome';
            color: #fafafb;
            position: absolute;
            right: 50%;
            width: 20px;
            margin-right: -5px;
            top: 77%;
            font-size: 50px;
        }
    }
    .test-hover {
        opacity: .6;
        text-align: center;
    }
    .test-hover:hover {
        opacity: 1.0;
        .tests {
            background: $teal;
            color: #fff;
            &:after {
                content: '\f0d7';
                font-family: 'fontawesome';
                color: $teal;
                position: absolute;
                right: 50%;
                width: 20px;
                margin-right: -5px;
                top: 77%;
                font-size: 50px;
            }
            &:before {
                content: '\f10d';
                font-family: 'fontawesome';
                color: #fff;
                position: absolute;
                margin-left: -35px;
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width:768px) {
    #nav-border {
        border: none;
    }
    .white {
        padding-left: 20px;
        padding-right: 20px;
    }
    .gallery img {
        margin: 0 auto;
        width: 70%;
    }
}
